body {
  margin: 0;
}
header {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  background: dodgerblue;
}
.news_item {
  background: #a23;
}
button {
  display: block;
  margin: 10px auto 0;
  width: 100px;
  height: 40px;
}